<div class="container">
  <div class="masthead">
    <h3 class="text-muted">あの日見た花の名を僕達はまだ知らない</h3>
    <ul class="nav nav-justified">
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
    </ul>
  </div>
  <div class="jumbotron">
    <h1 class="text-muted">あの日見た花の名を僕達はまだ知らない</h1>
    <p class="lead">xxxxxxxxxxxxxx</p>
  </div>
  <!-- /jumbotron -->
  <div class="row">
  </div>
  <!-- /row -->
  <div class="footer">
    <p>anithre.com 2013</p>
  </div>
  <!-- /footer -->
</div>
<!-- /container -->
