<div class="container">
  <div class="masthead">
    <h1 class="text-muted">あの日見た花の名を僕達はまだ知らない</h1>
    <ul class="nav nav-justified">
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
    </ul>
  </div>
  <div class="jumbotron">
    <h3 class="text-muted">あの日見た花の名を僕達はまだ知らない</h3>
    <p class="lead">xxxxxxxxxxxxxx</p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/YDP_VmDnQ-s" frameborder="0" allowfullscreen></iframe>
  </div>
  <!-- /jumbotron -->
  <div class="row content-message">
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>xxxxxxxxxxxxx</p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>xxxxxxxxxxxxx</p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>xxxxxxxxxxxxx</p>
    </div>
  </div>
  <!-- /row -->
  <hr>
  <div class="footer">
    <p>anithre.com 2013</p>
  </div>
  <!-- /footer -->
</div>
<!-- /container -->
